.Navbar {
    align-items: space-between;
    flex-direction: row;
    height: 10rem;
    width: 100%
}
.navbar pill {
    align-items: space-between;
    flex-direction: row;
    height: 10rem;
    width: 100%
}