#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
}

html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overscroll-behavior-y: auto;
  position: fixed;
}

.App {
  overscroll-behavior-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.App-body {
  overflow-y: auto;
  overscroll-behavior-y: auto;
  position: relative;
  margin: 0%;
  padding: 0%;
  text-align: center;
  background-color: white;
  color: #19336e;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bodyp {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  background-color: white;
  color: #19336e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0.25rem;
  min-height: 0.25rem;
}

.App-link {
  flex-wrap: nowrap;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #19336e;
  color: white;
  padding: 0.5rem;
  margin: 0.25rem;
  width: 17.5rem;
  height: 3.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: 0.15rem solid white;
}

.App-link:hover {
  width: 17.5rem;
  height: 3.5rem;
  background: white;
  border: 0.15rem solid #19336e;
  color: #19336e;
  transition: ease-in-out;
  transition-duration: 0.25s;
  margin: 0.25rem;

}

.LinksDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #19336e;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.slogan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  color: #9b2330;
  margin-bottom: 1rem;
  padding-bottom: 0.02rem;

}

/* hr {
      width: 198px;
      background-color: crimson;
      height: 4px;
      margin-top: -36px;
      border-radius: 25px;
} */