.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: white;
  color: #19336E;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 

}

.App-body>p {
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
  background-color: white;
  color: #19336E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  background: #19336e;
  color: white;
  padding: 20px;
  margin: 5px;
  width: 300px;
  font-size: 24px;
  border-radius: 7px;
  border: 2px solid white;
}

.App-link:hover {
  background: white;
  border: 2px solid #19336e;
  color: #19336e;
  transition: ease-in-out;
  transition-duration: .25s;
  margin: 5px;
  text-shadow: .5px .5px #9B2330
}

.LinksDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #19336E;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.slogan {
  color: #9B2330;
  margin-bottom: 5px;
  padding-bottom: 10px;
  text-shadow: .15px .15px #19336E
}

/* hr {
      width: 198px;
      background-color: crimson;
      height: 4px;
      margin-top: -36px;
      border-radius: 50px;
} */