.adam-foot {
    position: absolute;
    margin-top: 1.5rem;     
     display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #19336e;
    padding: 2rem;
    font-size: calc(5px + 2vmin);
    border-top: 1px solid #9B2330;
    border-bottom: 1px solid #9B2330;
    width: 100%;
  
    flex-wrap: nowrap;
}

.IBLove {
    color: yellow;
    text-shadow: 2px 2px purple;
    padding: 0px;
    margin: 0px;
}

a {
    margin: 5px;
    text-decoration: none;
    color: cornflowerblue;
    text-shadow: .25px .25px #9B2330;
}

span {
    color: cornflowerblue;
    text-shadow: .5px .5px #9B2330;
}