.adam-foot {
    /*margin-top: 1.5rem;*/     
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #19336e;
    padding-top: .5rem;
    font-size: calc(.5rem + 2vmin);
    border-top: .25rem solid #9B2330;
    /* border-bottom: .25rem solid #9B2330; */
    width: 100%;
    
  height: 10vmin;
    flex-wrap: nowrap;
}

.IBLove {
    color: yellow;
    text-shadow: 0.02rem 0.02rem  purple;
    padding: 0px;
    margin: 0px;
}

a {
    margin: .5rem;
    text-decoration: none;
    color: cornflowerblue;
    text-shadow: 0.02rem 0.02rem #9B2330;
}

span {
    color: cornflowerblue;
    text-shadow: 0.02rem 0.02rem #9B2330;
}