.adam-foot {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    color:white;
    background:darkslategray;
    padding:23px;
    font-size: calc(5px + 2vmin);
    width: auto;
      height: 10vh;
  

}

.IBLove {
    color: yellow;
    text-shadow: 2px 2px purple;
}

a {
    margin: 5px;
    text-decoration:none;
    color:cornflowerblue;
}