.head {   
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    background:#19336e;
    font-size: calc(5px + 2vmin);
    margin: 0px;
    color:#19336e;
    padding:5px;
    border-bottom: 1px solid #9B2330;
    }

.App-logo {
    height: 20rem;
    width: 40rem;
    border-radius: 5px;
    padding-bottom: 8px;
}