.head {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #19336e;
  font-size: calc(5px + 2vmin);
  margin: 0.025x;
  color: #19336e;
  padding: .5rem;
  border-bottom: 1px solid #9b2330;
}

.App-logo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  max-height: 22rem;
  max-width: 35rem;
  border-radius: 1rem;
  padding-bottom: 0.25rem;
}
