.head {   
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    background:darkslategray;
    font-size: calc(5px + 2vmin);
    width: auto;
    height: auto;
    color:cornflowerblue;
    padding:10px;
    };

.App-logo {
    height: auto;
    width: 100%;
    max-width: 300px;
}